html, body {
	height: 100%;
	width: 100%;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	background: var(--color1);
	/* cursor: url("../img/cursor-48.png"), auto; */
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

* {
	--font-size: calc(6 * var(--pixel-size));
	position: relative;
	box-sizing: border-box;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;	
}

.body-spacer {
	display: flex;
	height: 80px;
}

.main {
	flex-direction: column;
	align-items: center;
}

div {display: flex;}

input[type="checkbox"] {display: none;}

body, .btn, input, textarea {
	font-family: "Tripwire-Round";
	font-size: var(--font-size);
	letter-spacing: calc(var(--font-size) / 6);
	line-height: var(--font-size);
}



/* Windows */
.window {
	flex-direction: column;
	max-width: min-content;
	filter: drop-shadow(calc(3 * var(--pixel-size)) calc(3 * var(--pixel-size)) 0 black);
}

.window-top {
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: calc(3 * var(--pixel-size)) calc(2 * var(--pixel-size));
	padding-left: calc(4 * var(--pixel-size));
	background: var(--color3);
	color: var(--color2);
}
.window-top div:only-child {margin-left: auto;}

.window-title {
	white-space: nowrap;
	transform: translateY(calc(var(--pixel-size) / 2));
}

.window-close-btn {
	font-family: "Goof";
	letter-spacing: 0;
	pointer-events: none;
}

.window-bottom {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: calc(5 * var(--pixel-size));
	border: calc(2 * var(--pixel-size)) solid var(--color3);
	border-top: 0;
	background: var(--color2);
	color: var(--color3);
}

.window-flair {
	--dimension: calc(1 * var(--pixel-size));
	position: absolute;
	align-items: center;
	z-index: 9999;
}

.window .window-flair:nth-child(1) {
	bottom: var(--dimension);
	left: calc(-2 * var(--dimension));
	width: calc(2 * var(--dimension));
}
.window .window-flair:nth-child(1) div {
	width: var(--dimension);
	background: var(--color3);
}
.window .window-flair:nth-child(1) div:nth-child(1) {height: calc(24 * var(--pixel-size));}
.window .window-flair:nth-child(1) div:nth-child(2) {height: calc(28 * var(--pixel-size));}

.window .window-flair:nth-child(2) {
	flex-direction: column;
	bottom: calc(-2 * var(--dimension));
	right: var(--dimension);
	height: calc(2 * var(--dimension));
}
.window .window-flair:nth-child(2) div {
	height: var(--dimension);
	background: var(--color3);
}
.window .window-flair:nth-child(2) div:nth-child(1) {width: calc(34 * var(--pixel-size));}
.window .window-flair:nth-child(2) div:nth-child(2) {width: calc(30 * var(--pixel-size));}



/* General */
.paragraph {
	line-height: calc(var(--font-size) + 3 * var(--pixel-size));
}

.btn {
	padding: 0 calc(4 * var(--pixel-size));
	padding-top: calc(2.5 * var(--pixel-size));
	padding-bottom: calc(1.5 * var(--pixel-size));
	border: var(--pixel-size) solid var(--color3);
	background: transparent;
	color: var(--color3);
	cursor: pointer;
}
.btn:hover {
	background: var(--color3);
	color: var(--color2);
}